@import "https://fonts.googleapis.com/css?family=Raleway:400,600,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";
/* Transitions
=============================================*/
/* Transforms
=============================================*/
/* Animations
=============================================*/
/* Opacity
=============================================*/
body {
  font-family: "Open Sans", sans-serif;
  background: #f7f7f7; }

h2 {
  margin: 20px 0 30px; }

nav#portfolio-navbar {
  font: 600 0.8em "Open Sans", sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin: 0; }
  nav#portfolio-navbar li {
    display: inline-block; }
    nav#portfolio-navbar li a {
      display: inline-block;
      padding: 14px 15px;
      color: #bada55;
      text-decoration: none; }
      nav#portfolio-navbar li a:hover, nav#portfolio-navbar li a:focus {
        color: #86a524;
        background: #fefefd; }
    nav#portfolio-navbar li.current a {
      color: #778B71; }
  nav#portfolio-navbar #navbar-interior {
    width: 980px;
    max-width: 980px;
    margin: 0 auto; }
  nav#portfolio-navbar .navbar-header {
    height: 48px;
    line-height: 48px; }
  nav#portfolio-navbar .navbar-name {
    color: #778B71; }
    nav#portfolio-navbar .navbar-name:hover, nav#portfolio-navbar .navbar-name:focus {
      color: #8EA886;
      text-decoration: none; }
  nav#portfolio-navbar div#navbar-interior {
    width: 980px;
    max-width: 980px;
    height: 48px; }

.content {
  width: 980px;
  max-width: 980px;
  margin: 40px auto 60px;
  display: block;
  background: transparent; }
  .content h2 {
    color: #778B71; }

.row-no-margin {
  margin: 0; }

.home-intro {
  padding: 30px 0 70px;
  line-height: 1.8; }

.project-thumbnail {
  overflow: hidden;
  position: relative;
  height: 260px;
  margin-bottom: 30px; }
  .project-thumbnail .project-thumbnail-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #a1a1a1; }
    .project-thumbnail .project-thumbnail-wrap img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .project-thumbnail .project-thumbnail-wrap:hover {
      cursor: pointer; }
    .project-thumbnail .project-thumbnail-wrap:hover > img {
      -moz-transform: scale(1.08);
      -o-transform: scale(1.08);
      -ms-transform: scale(1.08);
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
      opacity: 0.75;
      filter: alpha(opacity=75); }
    .project-thumbnail .project-thumbnail-wrap:hover > .project-thumbnail-text {
      opacity: 1;
      transform: translateY(-10px); }
  .project-thumbnail .project-thumbnail-text {
    opacity: 0;
    background: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    padding: 8px 14px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }

.writings-row {
  padding: 30px 0;
  border-bottom: 1px solid #d9d9d9; }
  .writings-row:hover {
    background: #ececec;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .writings-row h3 {
    color: #000;
    font-size: 1.45em;
    font-weight: 600;
    margin: 0; }
  .writings-row .btn-view-post {
    color: #fff;
    font-size: .9em;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 18px;
    border-radius: 0;
    background-color: #a1a1a1;
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .writings-row .btn-view-post:hover {
      background-color: #363636; }

.about p {
  line-height: 1.8; }

#portfolio-footer {
  font: 600 0.8em "Open Sans", sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: #fff;
  border-top: 1px solid #ddd; }
  #portfolio-footer .portfolio-footer-interior {
    width: 980px;
    max-width: 980px;
    height: 48px;
    line-height: 48px;
    margin: 0 auto; }
  #portfolio-footer .footer-links {
    text-align: right; }
  #portfolio-footer .footer-link {
    display: inline-block;
    margin-left: 10px; }
  #portfolio-footer .footer-copyright {
    padding-left: 0; }

/*# sourceMappingURL=style.css.map */
