@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,800';


$body-font: 'Raleway', sans-serif;

$navbar-height: 48px;
$body-width: 880px;

$white: #fff;
$alto: #ddd;

$camouflage-green: #778B71;
$envy: #8EA886;
$conifer: #bada55;
$citron: #86a524;
