.content {
  // min-height: 68vh;
  width: $body-width;
  max-width: $body-width;
  margin: 0 auto 60px;
  display: block;
  // padding: 20px;
  background: transparent;

  h2 {
    color: $camouflage-green;
  }
}

.row-no-margin {
  margin: 0;
}

.home-intro {
  padding: 70px 0;
  line-height: 1.8;
}

.project-thumbnail {
  overflow: hidden;
  position: relative;
  height: 260px;
  margin-bottom: 30px;

  .project-thumbnail-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: $silver;

    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      @include transform(scale(1));
      @include transition(all .3s ease-out);
    }

    &:hover {
      cursor: pointer;
    }

    &:hover>img {
      @include transform(scale(1.08));
      @include opacity(.75);
    }

    &:hover>.project-thumbnail-text {
      opacity: 1;
      transform: translateY(-10px);
    }
  }

  .project-thumbnail-text {
    opacity: 0;
    background: $white;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    padding: 8px 14px;
    @include transition(all .15s ease-out);
  }
}

.writings-row {
  padding: 30px 0;
  border-bottom: 1px solid lighten($black, 85%);

  &:hover {
    background: lighten($alto, 5.8%);
    @include transition(all .3s ease);
  }

  h3 {
    color: $black;
    font-size: 1.45em;
    font-weight: 600;
    margin: 0;
  }

  .btn-view-post {
    color: #fff;
    font-size: .9em;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 18px;
    border-radius: 0;
    background-color: $silver;
    float: right;
    @include transition(all .3s ease-out);

    &:hover {
      background-color: #363636;
    }
  }
}
