nav#portfolio-navbar {
  font: 600 .8em $body-font;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: $white;
  // border-bottom: 1px solid $alto;
  margin: 0;

  li {
    display: inline-block;
    // margin-right: 5px;

    a {
      display: inline-block;
      padding: 19.5px 15px;
      color: $silver;
      text-decoration: none;

      &:hover, &:focus {
        color: darken($silver, 20%);
        background: lighten($silver, 40%);
      }

      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        margin-top: -11px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }

      &:hover:after {
        width: 100%;
        background: $mine-shaft;
      }
    }

    &.current {
      a {
        color: $mine-shaft;
        // background: lighten($conifer, 30%);
      }
    }
  }

  #navbar-interior {
    width: $body-width;
    max-width: $body-width;
    margin: 0 auto;
  }

  .navbar-header {
    height: $navbar-height;
    line-height: $navbar-height;
  }

  .navbar-name {
    color: $camouflage-green;

    &:hover, &:focus {
      color: $envy;
      text-decoration: none;
    }
  }

  div#navbar-interior {
    width: $body-width;
    max-width: $body-width;
    height: $navbar-height;
  }
}
